<div class="container">
  <div class="row">
    <div class="col">
      <span> Local da imagem </span>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h2> {{ solution?.title }} </h2>
      <div class="row d-flex nowrap">
        <span class="tag"> {{solution?.pointsWins }} </span>
        <span class="tag"> {{solution?.rewardWins }} </span>
      </div>
      {{ solution?.description }}
      {{ solution?.links }}
    </div>
  </div>

  <br><br>
  <div class="row">
    Links
    <hr>
    <ng-container *ngIf="solution && solution.links">
      <div class="col-12 link" *ngFor="let url of solution.links">
        <a href="{{url}}" target="_blank"> {{ url }} </a>
      </div>
    </ng-container>
  </div>
</div>