<div class="container">
  <div class="row">
    <div class="col-6">
      <h2> {{ user?.name }} </h2>
      <!-- <span> {{ user?.nickname }} </span> -->
      <div> Sobre </div>
      <!-- <p> {{ user.about }} </p> -->

    </div>
    <div class="col-6"> Imagem de perfil </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="tab"> Hackton </div>
      <!-- hackton list  -->
      <div> </div>


      <div class="tab"> Submissões </div>
      <!-- Submissões list  -->
      <div></div>
    </div>
  </div>

</div>