.card-challenge {
  background-color: rgb(184, 184, 184);
  border-radius: 0.5rem;
  padding: 20px;
}

.cover-challenge-image {
  max-width: 50vh;
  max-height: 50vh;
}

.card-challenge {
  cursor: pointer;
}