<div class="container">

  <div class="row nowrap">
    <h2> Desafios </h2>

    <!-- if user logged is owner -->
    <button *ngIf="currentUser && isCreator()" type="button" class="btn btn-primary" (click)="createHackaton()"> Criar Hackton </button>
    <button type="button" class="btn btn-primary" (click)="goToViewUser()"> Ver Users </button>
    <button type="button" class="btn btn-primary" (click)="createUser()"> Criar usuario </button>
  </div>
  <hr>

  <div class="row">
    <div *ngFor="let challenge of challenges" class="col-md-4 card-challenge">
      <div (click)="viewChallenge(challenge)">
        <span> <img class="cover-challenge-image" src="{{ challenge.images[0] }}" alt="main image"> </span>
        <span> {{ challenge.tags }} </span>
        <span> {{ challenge.difficultyLevel }} </span>
        <span> {{ challenge.title }} </span>
        <span> {{ challenge.description }} </span>
      </div>
    </div>
  </div>

</div>