<div class="container">

  <div class="row nowrap">
    <h2> Desafios </h2>

    <!-- if user logged is owner -->
    <button type="button" class="btn btn-primary" (click)="createHackaton()"> Criar Hackton </button>
    <button type="button" class="btn btn-primary" (click)="goToViewUser()"> Ver Users </button>
    <button type="button" class="btn btn-primary" (click)="createUser()"> Criar usuario </button>
  </div>
  <hr>

  <div class="row">
    <div *ngFor="let challenge of challenges" class="col-md-4">
      <div (click)="viewChallenge(challenge)">
        <span> {{ challenge.name }} </span>
        <span> {{ challenge.difficultyLevel }} </span>
        <span> {{ challenge.description }} </span>
        <span> {{ challenge.tag }} </span>
      </div>
    </div>
  </div>

</div>