<div class="container">
  <h2> Submeter Solução </h2>

  <form [formGroup]="submitForm">

    <div class="form-group">
      <label for="title"> Título </label>
      <input type="text" id="title" placeholder="Título" class="form-control" formControlName="title" />
    </div>

    <div class="form-group">
      <label for="description"> Descrição </label>
      <textarea name="description" id="description" class="form-control" rows="4" placeholder="Descrição"
        formControlName="description">
      </textarea>
    </div>

    Membros
    <div formArrayName="team">
      <div *ngFor="let alias of teamForm.controls; let i=index">
        <input type="text" placeholder="nickname" [formControlName]="i">
      </div>
    </div>

    <button type="button" class="btn btn-primary" (click)="addMember()">
      Convidar um membro </button>

    <hr>

    Links
    <div formArrayName="links">
      <div *ngFor="let alias of linksForm.controls; let i=index">
        <input type="text" placeholder="https://..." [formControlName]="i">
      </div>
    </div>

    <button type="button" class="btn btn-secundary" (click)="addLink()">
      Adicionar mais um link </button>



    <br>
    <br>
    <br>
    <div class="row">
      <button type="button" class="btn btn-primary" (click)="onSubmit()"> Submeter solução </button>
    </div>
  </form>


</div>